<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

    <title>Создать пост</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            Forum
        </a>
        <div class="row">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/}">Главная</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-3">
    <h4>Добавить пост</h4>
    <div class="col-4">
        <form action="#" method='post' th:action="@{/save}" th:object="${post}">
            <div class="pt-2">
                <label for="name" class="form-label">Тема</label>
                <input type="text" class="form-control" id="name" th:name="name">
            </div>
            <div class="pt-2">
                <label for="description" class="form-label">Описание</label>
                <textarea type="text" class="form-control" id="description" th:name="description"></textarea>
            </div>
            <div class="pt-2">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>